.conteiner{
    background-image: url(../img/Fondoo.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
          h1{
              color: $ColorTitulos;
              font-size: $TamanioTitulos;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
              text-align: center;  
            }
            .post{
                color: $ColorLetras;
                font-size: $Tamaniop;
            }      
    }




