*{
    margin: 0;
    padding: 0;
}
.pie2{
    background-color:  rgba(0, 0, 0, 0.7);
    width: 100%;
}
.trabajo{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    background-size: cover;}

.trabajo h1{
    color: $ColorLetras;
}
   